// Navbar
#navbar {
  a:hover {
    text-decoration: underline;
  }
  a,
  a:visited {
    color: #000;
  }
  .logo {
    float: left;
    img {
      height: 50px;
    }
  }
  ul {
    float: right;
    li {
      list-style: none;
      float: left;
      padding: 20px;
    }
  } //End ul
} //End #navbar

// Showcase
#showcase {
  .showcase-wrap {
    background: url('../img/showcase.jpg');  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    &-box {
      &-content {
        text-align: center;
        background: rgba(255, 255, 255, 0.7);
        padding: 40px;
        margin: 70px;
        width: 40%;
        a {
          border-radius: 0;
          padding: 12px 40px;
          font-weight: 600;
        }
      }
    } //End &-box
  } //End.showcase-wrap
} //End #showcase

//Features
#features {
  .features-wrap {
    display: flex;
    &-img {
      img {
        height: 600px;
      }
    }
    &-content {
      width: 100%;
      text-align: center;
      background: #ededed;
      padding: 180px 90px;
    }
  } //.features-wrap
} //#features

// Arrivals
#arrivals {
  display: flex;
  .arrivals-img {
    img {
      height: 300px;
    }
  }
  .arrivals-content {
    text-align: center;
    background: #4d4d4d;
    color: #fff;
    padding: 90px;
    a {
      color: #fff;
      font-size: 1.2rem;
      text-decoration: underline;
    }
  } //.arrivals-content
} //#arrivals

// Contact
#contact {
  .contact-img {
    background: url('../img/feature-4.jpg');  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-bottom: 20px;
  } //End .contact-img
  .contact-content {
    display: flex;
    text-align: center;
    &-box {
      background: #ededed;
      padding: 70px;
    }
  }
} //End #contact

// Title 
#title {
  background: #ededed;
  h2 {
    font-weight: 400;
  }
}

// Inventory
#inventory {
  .inventory-wrap {
    text-align: center;
    display: flex;
    &-box {
      padding: 10px;
      img {
        height: 200px;
      }
    }
  }
} //#inventory

// Contact
#contact {
  form {
    width: 40%;
    margin: 0 auto;
    input,
    textarea {
      background: #c4c4c4;
      border: 0;
    }
  }
}